@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "微软雅黑";
  text-size-adjust: 100%;
}

body {
  min-width: 320px;
}

ul,
li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.wrap header {
  width: 100%;
  height: .45rem;
  display: flex;
  padding: 0 .15rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  color: #333;
}

.wrap header i {
  font-size: .18rem;
  color: orange;
}

.wrap section {
  flex: 1;
  overflow-y: scroll;
}

.wrap section ul {
  width: 100%;
  padding: 0 .05rem;
}

.wrap section ul li {
  width: 100%;
  height: 1.5rem;
  border-bottom: 1px solid #ccc;
  padding: 0 .15rem;
  position: relative;
}

.wrap section ul li > input {
  position: absolute;
  top: 50%;
  left: 0;
}

.wrap section ul li dl {
  padding: 0 0 0.05rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.wrap section ul li dl dt {
  flex: 3;
}

.wrap section ul li dl dt img {
  height: 1.2rem;
  width: 1.2rem;
}

.wrap section ul li dl dd {
  flex: 5;
  display: flex;
  margin-left: .15rem;
  flex-direction: column;
}

.wrap section ul li dl dd h1 {
  color: #000;
}

.wrap section ul li dl dd p {
  color: #333;
}

.wrap section ul li dl dd p span {
  color: orange;
  margin-left: .2rem;
}

.wrap section ul li dl dd h3 button {
  width: .3rem;
  height: .3rem;
  display: inline-block;
  line-height: .3rem;
  text-align: center;
}

.wrap section .allmore {
  margin-top: .15rem;
  width: 100%;
  height: .5rem;
  display: flex;
  justify-content: space-around;
}

.wrap footer {
  width: 100%;
  height: .45rem;
  padding: 0 .15rem;
}

.wrap footer ul {
  display: flex;
}

.wrap footer ul li {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrap footer ul li i {
  font-size: .18rem;
}
